<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="talad.co.taladv7">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FarmerLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContractorProfileActivity"/>
        <activity android:name=".ConCreateAccountActivity"/>
        <activity android:name=".GetStartedActivity"/>
        <activity android:name=".TabMainActivity"/>
        <activity android:name=".FarmerCreateAccActivity"/>
        <activity android:name=".FarmerPayActivity"/>
        <activity android:name=".FarmerSupportMenu"/>
        <activity android:name=".FeedbackActivity"/>
        <activity android:name=".LanSelectActivity"/>
        <activity android:name=".FarmerBuyServices"/>
        <activity android:name=".FarmerAddBank"/>
        <activity android:name=".FarmerAddCard"/>
        <activity android:name=".PaymentActivity"/>
        <activity android:name=".PayPalActivity"/>
        <activity android:name=".FarmerProfileActivity"/>
        <activity android:name=".ContractorLoginActivity"/>
        <activity android:name=".FarmerChooseServiceActivity"/>
        <activity android:name=".BottomTabsActivity"/>
        <activity android:name=".map.NiboMainActivity"/>
        <activity android:name=".map.MapActivity"/>
        <activity android:name=".FarmerForgotPasswordActivity"/>
        <activity android:name=".ConChooseServiceActivity"/>
        <activity android:name=".ConTabMainActivity"/>
    </application>

</manifest>